<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <!-- Добавьте следующий элемент к конфигурации поведения службы. -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <!-- Примечание: Для реализации службы имя службы должно соответствовать имени конфигурации. -->
      <service name="WCF.WcfService" behaviorConfiguration="MyServiceTypeBehaviors" >
        <!-- Добавьте следующую конечную точку.  -->
        <!-- Примечание: Для добавления этой конечной точки служба должна иметь базовый http-адрес. -->
        <endpoint contract="IWcfService" binding="mexHttpBinding" address="mex" />
      </service>
    </services>


  </system.serviceModel>
</configuration>